* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 53px;
    background: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 14px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 40px;
}

/*SUBHEADER*/
.subheader {
    position: absolute;
    width: 100%;
    height: 87px;
    background: rgba(0, 0, 0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    margin-top: 10px;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.5;
}

.subheader .subheader_call {
    margin-top: 23px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}

.subheader .subheader_phone {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.subheader .subheader_btn, .promo .promo_btn {
    margin-top: 23px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

/*PROMO*/
.promo {
    min-height: 799px;
    background: url("../img/main_bg.jpg") center center/cover no-repeat;
    padding: 160px 0px 160px 0px;
}

.promo .promo_header {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_subheader {
    margin-top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_descr {
    margin-top: 16px;
    padding: 0 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 115px;
    width: 259px;
    height: 63px;
    font-size: 18px;
}

/*BENEFITS*/

.benefits {
    min-height: 849px;
    background-color: #fff;
    padding: 20px 0 0 0;
}

.benefits .benefits_btn {
    display: block;
    margin: 0 auto;
    width: 115px;
    height: 27px;
    background: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.benefits .benefits_header {
    margin: 0 auto;
    margin-top: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.benefits .benefits_wrapper {
    padding: 20px 0 0 0;
}
.benefits .benefits_wrapper .benefits_item {
    min-height: 170px;
}
.benefits .benefits_wrapper .benefits_item .benefits_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 116px;
    height: 116px;
    border-radius: 100%;
    background-color: #1EACC7;
}

.benefits .benefits_wrapper .benefits_item .item_header {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #1EACC7;
}

.benefits .benefits_wrapper .benefits_item .item_descr {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
}









