* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

header {
  position: relative;
}

nav {
  height: 53px;
  background: #212121;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 14px 70px;
  margin: 0;
  list-style: none;
}
.menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 40px;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_official {
  margin-top: 10px;
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.5;
}
.subheader_call {
  margin-top: 23px;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #FFFFFF;
}
.subheader_phone {
  display: block;
  font-weight: 400;
  font-size: 22px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
.subheader_btn {
  margin-top: 23px;
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  min-height: 799px;
  background: url("../img/main_bg.jpg") center center/cover no-repeat;
  padding: 160px 0 160px 0;
}
.promo_header {
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.promo_subheader {
  margin-top: 15px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.promo_descr {
  margin-top: 16px;
  padding: 0 40px;
  font-weight: 300;
  line-height: 24px;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}
.promo_btn {
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  display: block;
  margin: 0 auto;
  margin-top: 115px;
  width: 259px;
  height: 63px;
  font-size: 18px;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.benefits {
  min-height: 849px;
  background-color: #fff;
  padding: 20px 0 0 0;
}
.benefits_wrapper {
  padding: 20px 0 0 0;
}
.benefits_wrapper .benefits_item {
  min-height: 170px;
}
.benefits_wrapper .benefits_item .benefits_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 116px;
  height: 116px;
  border-radius: 100%;
  background-color: #1EACC7;
}
.benefits_wrapper .benefits_item .item_header {
  font-weight: 400;
  font-size: 17px;
  color: #1EACC7;
}
.benefits_wrapper .benefits_item .item_descr {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}

.label {
  display: block;
  margin: 0 auto;
  width: 115px;
  height: 27px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
}
.label_1 {
  background: #FFFFFF;
  color: #070716;
}

.subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #222222;
}
.subtitle_1 {
  color: #FFFFFF;
}

.title {
  margin: 0 auto;
  margin-top: 32px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.title_1 {
  color: #FFFFFF;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url("../img/mobile_bg.jpg") center center/cover no-repeat;
}
.mobile_row {
  margin-top: 30px;
}
.mobile_item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 82px;
}
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 73px;
  width: 29px;
  height: 29px;
  background: #000000;
  cursor: pointer;
}
.mobile_item_plus:before {
  content: "";
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
}
.mobile_item_plus:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #FF5656;
  transition: 2s all;
}
.mobile_item_1 {
  background: url("../img/card_1.jpg") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/card_2.jpg") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/card_3.jpg") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/card_4.jpg") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/card_5.jpg") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/card_6.jpg") center center/cover no-repeat;
}
.mobile_item_subtitle {
  min-height: 62px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.auto {
  position: relative;
  min-height: 499px;
  padding: 57px 0 0 0;
  background-color: #070716;
}
.auto_img {
  position: absolute;
  top: 232px;
  left: 25%;
  width: 759px;
  height: 480px;
}

.auto_descr {
  min-height: 499px;
  padding: 210px 0 138px 0;
  background: url("../img/mobile_bg.jpg") center center/cover no-repeat;
}
.auto_descr_text {
  margin: 0 auto;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

/*# sourceMappingURL=style.css.map */
